#AnchorPane {
    -fx-background-color: #FFD139;
}

#confirmButton {
    -fx-background-color: #2EAA50;
    -fx-text-fill: #000000;
        -fx-font-size: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(35,118,54,100), 5, 0, 0, 1);
}